html{
  font-family: Montserrat,Rubik,-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}
#snowball{
  overflow-x: hidden;
}

:root{
  --white:white;
  --black:black;
  --navigationTabBackground: #f5f5f5;
  --activeNAvigationTabBackground: #C8E6FE;
  --primaryBlue: #1A93F2;
  --lightBlue: #C8E6FE;
  --mildBlue:#E9F5FE;
  --dark:#363636;
  --darkText:#6E6B7B;
  --grey:#8E8E8E;
  --green:#28C76F;
  --mildGreen:rgba(40, 199, 111, 0.12);
  --red:#DF5F67;
  --mildRed: rgba(223, 95, 103, 0.12);
  --mildYellow: rgba(251, 139, 36, 0.2);;
  --lightGrey:#E5E5E5;
  --navigationTabTextColor: #333;
  --error:#D62839;
  --paperBorderRadius:8px;
}